@import "tailwindcss";

body,
html {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  height: 100vh;
  background-color: #faf9f6;
  scroll-behavior: smooth;
}

/* Google Fonts */
.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.playwrite-hr {
  font-family: "Playwrite HR", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Local Fonts */
@font-face {
  font-family: "Jello-Stone";
  src: url("/fonts/jello-stone-font/JelloStone-YqKz8.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "june-expt-variable";
  src: url("/fonts/june-expt-font/june-expt-variable-active-vf.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

.jello-stone {
  font-family: "Jello-Stone", sans-serif;
  font-optical-sizing: auto;
}

.june-expt-variable {
  font-family: "june-expt-variable", sans-serif;
  font-optical-sizing: auto;
}
