@import "tailwindcss";

body,
html {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  height: 100vh;
  background-color: #faf9f6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

/* Google Fonts */
.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.playwrite-hr {
  font-family: "Playwrite HR", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Local Fonts */
@font-face {
  font-family: "Jello-Stone";
  src: url("/fonts/jello-stone-font/JelloStone-YqKz8.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "june-expt-variable";
  src: url("/fonts/june-expt-font/june-expt-variable-active-vf.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

.jello-stone {
  font-family: "Jello-Stone", sans-serif;
  font-optical-sizing: auto;
}

.june-expt-variable {
  font-family: "june-expt-variable", sans-serif;
  font-optical-sizing: auto;
}
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

.card-grid > :not(:nth-child(4)) {
  /* Your styles here */
  filter: blur(2px);
  backdrop-filter: brightness(95%);
}

@media (max-width: 640px) {
  .card-grid > :is(:nth-child(1), :nth-child(7)) {
    display: none;
  }
}
